body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
background-color:#23842b;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: #0055a5;
  color: white;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background: #0077cc;
}

#templeCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

section {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
footer {
  background-color:#23842b;
  color: white;
  text-align: center;
  padding: 1rem;
}