@media screen and (min-width: 500px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }

  .weather h2::after {
    content: "";
  }

  .weather h2::before {
    content: "⛅ ";
  }
  
}
places grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1rem;
  padding: 1rem;
}