body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #f9f9f9;
  color: #fff;
}

h1 {
  color: white;
  text-align: center;
  background-color:purple;
}

form {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: aquamarine;
}

label, legend {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  border: none;
  margin-top: 1rem;
}

input[type="submit"] {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #005a9c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #003f6b;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: white;
  background-color:purple;
}
