
@media screen and (min-width: 768px) {
  .navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  #menu {
    display: none;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .temple-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1rem;
  padding: 1rem;
}
}
