body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

header {
  background-color: #00806f;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}



#menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navigation {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  background-color: #0066cc;
  border-radius: 5px;
}

.navigation a:hover {
  background-color: #0055aa;
}

main {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px #800064;
}

figure {
  margin: 0;
}

figcaption {
  background-color: #800064;
  color: white;
  padding: 0.5rem;
}

footer {
  background-color: #00806f;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.temple-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1rem;
  padding: 1rem;
}

.temple-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

    .temple-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      padding: 1rem;
    }

    .temple-grid img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  


